extends layout

block content
  .flexbox-container-firstPage
    .flexbox-item-firstPage.flexbox-item-firstPage-h1
      h1 Cesar Pizzeria
      h3
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet mauris at augue aliquet posuere. Ut at viverra nunc, eget viverra dolor. Duis rhoncus accumsan lacus pretium pretium. Vivamus lorem nulla, gravida quis ligula id, dictum varius purus. Duis consequat dapibus pharetra. Donec eget volutpat dolor, a fringilla mi. Proin ut condimentum felis.
        br
        br
        |                 Vivamus nec ligula nec odio pellentesque pretium a id ipsum. Praesent consectetur vestibulum massa. Sed ac pellentesque magna, in ultricies tellus. Nam semper eros purus. Vestibulum nulla purus, dapibus consequat convallis a, laoreet quis tortor. Vestibulum blandit lacus sit amet aliquet volutpat. Mauris sed lacus enim. Etiam mauris massa, pharetra id nunc eget, finibus maximus turpis. Quisque eget urna dignissim, pulvinar tortor id, ornare lacus. Maecenas id nisl at nisl tincidunt egestas eget vitae justo. Integer sed tellus tincidunt, faucibus magna vitae, malesuada elit.
    .flexbox-item-firstPage.flexbox-item-firstPage-img
      img.index-pizza(src='/images/pizza.jpg' alt='')
