extends layout

block content
    .flexbox-container-menu
      .flexbox-container-menu.flexbox-item-menuPage
        img(src='images/bred pizza.jpg' alt='')
      .flexbox-conatiner-menu.flexbox-item-menuPage1
        h1 VEGETARISKA
        h2
          | 1. MARGARETA ------------------------
          | 95:-
        p tomat, ost
        h2
          | 2. FUNGHI ------------------------
          | 100:-
        p champinjoner
        h2
          | 3. QUATTRO FORMAGGIO --------------
          | 110:-
        p mozarella, gorgonzola, brie, parmesanost
        h2
          | 4. VEGETARIANA --------------
          | 115:-
        p champinjoner, lök, paprika, färska tomater, kronärtskockshjärta, oliver
        h2
          | 5. PRINSESSA --------------
          | 105:-
        p färska tomater, fårost, oliver, vitlökssås
        h2
          | 6. BARBADOS --------------
          | 105:-
        p banan, ananas, mango chutney, nötter, curry pulver
        h2
          | 7. PRIMAVERA --------------
          | 105:-
        p mozarella, färska tomater, pesto
        br
        br
        h1 SKINKA
        h2
          | 8. VESUVIO --------------
          | 100:-
        p skinka
        h2
          | 9. CAPRICCIOSA --------------
          | 105:-
        p skinka, champinjoner
        h2
          | 10. HAWAII --------------
          | 105:-
        p skinka, ananas
        h2
          | 11. VENEZIA --------------
          | 105:-
        p skinka, tonfisk
        h2
          | 12. TOMASSO --------------
          | 105:-
        p skinka, räkor
        h2
          | 13. QUATTRO --------------
          | 115:-
        p skinka, champinjoner, räkor, musslor
        h2
          | 14. CALZONE (INBAKAD) --------------
          | 105:-
        p skinka
        h2
          | 15. FLORIDA --------------
          | 110:-
        p skinka, räkor, ananas
        h2
          | 16. AFRIKANA --------------
          | 110:-
        p skinka, banan, ananas, curry pulver
        h2
          | 17. PALERMO --------------
          | 110:-
        p skinka, champinjoner, räkor
      .flexbox-conatiner-menu.flexbox-item-menuPage2
        h1 VEGETARISKA
        h2
          | 1. MARGARETA ------------------------
          | 95:-
        p tomat, ost
        h2
          | 2. FUNGHI ------------------------
          | 100:-
        p champinjoner
        h2
          | 3. QUATTRO FORMAGGIO --------------
          | 110:-
        p mozarella, gorgonzola, brie, parmesanost
        h2
          | 4. VEGETARIANA --------------
          | 115:-
        p champinjoner, lök, paprika, färska tomater, kronärtskockshjärta, oliver
        h2
          | 5. PRINSESSA --------------
          | 105:-
        p färska tomater, fårost, oliver, vitlökssås
        h2
          | 6. BARBADOS --------------
          | 105:-
        p banan, ananas, mango chutney, nötter, curry pulver
        h2
          | 7. PRIMAVERA --------------
          | 105:-
        p mozarella, färska tomater, pesto
        br
        br
        h1 SKINKA
        h2
          | 8. VESUVIO --------------
          | 100:-
        p skinka
        h2
          | 9. CAPRICCIOSA --------------
          | 105:-
        p skinka, champinjoner
        h2
          | 10. HAWAII --------------
          | 105:-
        p skinka, ananas
        h2
          | 11. VENEZIA --------------
          | 105:-
        p skinka, tonfisk
        h2
          | 12. TOMASSO --------------
          | 105:-
        p skinka, räkor
        h2
          | 13. QUATTRO --------------
          | 115:-
        p skinka, champinjoner, räkor, musslor
        h2
          | 14. CALZONE (INBAKAD) --------------
          | 105:-
        p skinka
        h2
          | 15. FLORIDA --------------
          | 110:-
        p skinka, räkor, ananas
        h2
          | 16. AFRIKANA --------------
          | 110:-
        p skinka, banan, ananas, curry pulver
        h2
          | 17. PALERMO --------------
          | 110:-
        p skinka, champinjoner, räkor
